.btn-primary {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 130px;
   height: 40px;
   font: 300 14px/1.45 "RF Dewi";
   color: var(--color_base);
   border-radius: 50px;
   border: 1px solid var(--color_base);
   transition: background-color 0.2s linear;
}
.btn-primary:hover {
   color: var(--color_primary);
   background-color: var(--color_base);
}
@media all and (min-width: 768px) {
   .btn-primary {
      width: 150px;
   }
}
@media all and (min-width: 1366px) {
   .btn-primary {
      width: 220px;
      height: 60px;
      font: 300 16px/1.45 "RF Dewi";
   }
}