/* Свойства для бургера */
.header__burger-box {
   position: fixed;
   right: 25px;
   top: 25px;
   z-index: 15;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   width: 25px;
   height: 25px;
   gap: 1px;
}

.header__burger-icon {
   width: 12px;
   height: 12px;
   border: 1px solid var(--color_grey);
   border-radius: 50%;
   transition: background-color, 0.2s linear;
}

.header__burger-icon--open {
   background-color: var(--color_grey);
}

/* Свойства для выпадающего меню */
.nav {
   visibility: hidden;
   position: fixed;
   right: -100%;
   top: 0;
   z-index: 10;
   width: 90%;
   height: 100%;
   padding: 65px 30px 30px;
   background-color: var(--color_dark);
   transition: right 0.4s linear, visibility 0.4s linear;
}

.nav--open {
   visibility: visible;
   right: 0;
}

.nav__list {
   display: flex;
   flex-flow: column;
   margin-bottom: 140px;
   gap: 10px;
}

.nav__list-item {
   font: var(--font_nav_list);
   color: var(--color_grey);
   transition: color 0.2s linear;
}

.nav__list-item:hover {
   color: #fff;
}

/* Кнопка назад */
.btn-back {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
   transition: color 0.2s linear;
   gap: 10px;
}

.btn-back__text {
   font: var(--font_btn_back);
   color: var(--color_grey);
}

.btn-back:hover,
.btn-back__text:hover {
   color: #fff;
}

/* Социальный бокс */
.social-box {
   display: flex;
   margin-top: 50px;
   gap: 30px;
}

.social-box__item {
   font: var(--font_social_box);
   color: var(--color_grey);
   transition: color 0.2s linear;
}

.social-box__item:hover {
   color: #fff;
}

@media all and (min-width: 475px) {
   .nav {
      padding: 65px 30px 30px 50px;
   }
}

@media all and (min-width: 576px) {
   .nav {
      width: 70%;
   }
}

@media all and (min-width: 768px) {
   .nav {
      width: 60%;
      padding: 85px 30px 50px 75px;
   }
}

@media all and (min-width: 992px) {
   .header__burger-box {
      right: 57px;
      top: 40px;
   }

   .nav {
      width: 50%;
   }
}

@media all and (min-width: 1200px) {
   .nav {
      width: 35%;
   }
}
