<div class="cta">
   <h2 class="cta__title" data-aos="fade-up">ВОЗМОЖНОСТИ ДЛЯ <br> КОНТРАГЕНТОВ</h2>
   <ul class="cta__billet-list">
      <li class="cta__bullet-item" data-aos="fade-up">- оптовые закупки / дилерство</li>
      <li class="cta__bullet-item" data-aos="fade-up" data-aos-delay="500">- открытие магазина в совем городе / франшиза</li>
      <li class="cta__bullet-item" data-aos="fade-up" data-aos-delay="750">- сотрудничество / коллаборации</li>
      <li class="cta__bullet-item" data-aos="fade-up" data-aos-delay="1000">- спонсортсво</li>
      <li class="cta__bullet-item" data-aos="fade-up" data-aos-delay="1250">- помощь в создании бренда</li>
      <li class="cta__bullet-item" data-aos="fade-up" data-aos-delay="1500">- акселерация бренда</li>
   </ul>
   <div class="cta__form-box">
      <form class="form" action="/" method="post" data-aos="fade-up">
         <input class="form__input" type="text" placeholder="Владимир" name="name" pattern="text" required />
         <input class="form__input" type="email" placeholder="example@gmail.com" name="email" pattern="email" required />
         <input class="form__input" type="tel" placeholder="+7 (999) 999-99-99" name="tel" pattern="tel" required />
         <button class="form__btn" type="submit">Отправить</button>
      </form>
   </div>
   <div class="separator"></div>
</div>
<div class="cta-2">
   <h2 class="cta-2__title" data-aos="fade-up">Хочешь создать собственный бренд?</h2>
   <p class="cta-2__paragraf" data-aos="fade-up">Заходи на менторство и создавай свой бренд с нуля</p>
   <a class="btn-primary cta-2__btn" href="/about.html#mentorstvo" data-aos="fade-up">Менторство</a>
</div>
<div class="separator"></div>