<footer class="footer">
   <div class="overlay"></div>
   <div class="footer__text-box">
      <p class="footer__text" data-aos="zoom-in" data-aos-offset="50">© 2022</p>
      <a class="footer__text footer__text--margin" href="/privacy.html" data-aos="zoom-in" data-aos-offset="0">Privacy Policy</a>
      <a class="footer__text" href="https://github.com/suchkovcode" data-aos="zoom-in" data-aos-offset="0">Development Site</a>
   </div>
</footer>
<script src="/js/script.js"></script>
<script src="/js/vendor.js"></script>
<script>
   AOS.init({
      disable: false, 
      startEvent: "DOMContentLoaded", 
      initClassName: "aos-init", 
      animatedClassName: "aos-animate",
      useClassNames: false, 
      disableMutationObserver: false, 
      debounceDelay: 50, 
      throttleDelay: 99,
      offset: 60,
      delay: 0, 
      duration: 1100, 
      easing: "ease", 
      once: false, 
      mirror: false, 
      anchorPlacement: "top-top", 
   });
</script>
<script>
   SmoothScroll({
       animationTime    : 800,
       stepSize         : 75,
       accelerationDelta : 30,  
       accelerationMax   : 2,   
       keyboardSupport   : true,  
       arrowScroll       : 75,
       pulseAlgorithm   : true,
       pulseScale       : 4,
       pulseNormalize   : 1,
       touchpadSupport   : true,
   })
   </script>