<h2 class="form__title" data-aos="zoom-in">Contact with me</h2>
<form class="form" action="/" method="post" data-aos="zoom-in">
   <input class="form__input" type="text" placeholder="Владимир" name="name" pattern="text" required>
   <input class="form__input" type="email" placeholder="example@gmail.com" name="email" pattern="email" required>
   <input class="form__input" type="tel" placeholder="+7 (999) 999-99-99" name="tel" pattern="tel" required>
   <button class="form__btn" type="submit">Send</button>
</form>
<div class="form__social-box" data-aos="zoom-in">
   <a class="form__social-box-item" href="https://vk.com/van_ermolin" >/Vk</a>
   <a class="form__social-box-item" href="https://t.me/Van_ermolin" >/Telegram</a>
   <a class="form__social-box-item" href="https://www.youtube.com/channel/UCsEu98Jgq7ql9MQggxqmoqw">/YouTube</a>
</div>