<header class="header">
   <div class="curzr" hidden>
      <div class="circle"></div>
      <div class="dot"></div>
   </div> 
   <div class="header__burger-box"">
      <div class="header__burger-icon"></div>
      <div class="header__burger-icon"></div>
      <div class="header__burger-icon"></div>
      <div class="header__burger-icon"></div>
   </div>
   <nav class="nav">
      <a class="btn-back" href="/">
         <img src="/img/svg/arrow.svg" alt="Стрелка" width="24" height="24"/>
         <p class="btn-back__text">To main</p>
      </a>
      <ul class="nav__list">
         <li><a class="nav__list-item nav__item-1" href="/molotov.html">Molotov brand</a></li>
         <li><a class="nav__list-item nav__item-2" href="/skhaf.html">SHKAF</a></li>
         <li><a class="nav__list-item nav__item-3" href="/custom.html">Custom</a></li>
         <li><a class="nav__list-item nav__item-4" href="/about.html#mentorstvo">Mentoring</a></li>
         <li><a class="nav__list-item nav__item-5" href="/van.html">VAN Studio</a></li>
      </ul>
      <a class="btn-primary" href="/about.html">About me</a>
      <div class="social-box">
         <a href="https://vk.com/van_ermolin" class="social-box__item">/Vk</a>
         <a href="https://t.me/Van_ermolin" class="social-box__item">/Telegram</a>
         <a href="https://www.youtube.com/channel/UCsEu98Jgq7ql9MQggxqmoqw" class="social-box__item">/YouTube</a>
      </div>
   </nav>
</header>

